<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="nav-link" routerLink="/home-page">Title<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/form">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/access">Link 2</a>
      </li>
    </ul>
  </div>
</nav>
